# Step 1: Load the Dataset
# We begin by importing the dataset into a pandas DataFrame. This will help us analyze and clean the data.

In [42]:
# Importing necessary library for data manipulation
import pandas as pd

# Loading the medical appointment dataset from the 'rawdata' folder
df = pd.read_csv("rawdata/KaggleV2-May-2016.csv")

# Displaying the first 5 rows of the dataset 
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [44]:
# Displaying basic information about the dataset such as column names, data types, and non-null counts
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110527 non-null  float64
 1   AppointmentID   110527 non-null  int64
 2   Gender          110527 non-null  object
 3   ScheduledDay    110527 non-null  object
 4   AppointmentDay  110527 non-null  object
 5   Age             110527 non-null  int64
 6   Neighbourhood   110527 non-null  object
 7   Scholarship     110527 non-null  int64
 8   Hipertension    110527 non-null  int64
 9   Diabetes        110527 non-null  int64
 10  Alcoholism      110527 non-null  int64
 11  Handcap         110527 non-null  int64
 12  SMS_received    110527 non-null  int64
 13  No-show         110527 non-null  object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

In [46]:
# Checking for missing (null) values in the dataset
df.isnull().sum()

PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
No-show           0
dtype: int64

In [48]:
# Check for duplicates
df.duplicated().sum()

# Drop duplicates if any
df.drop_duplicates(inplace=True)

### Fix Data Types (ScheduledDay & AppointmentDay to datetime)

In [51]:
# Convert date columns to datetime
df['ScheduledDay'] = pd.to_datetime(df['ScheduledDay'])
df['AppointmentDay'] = pd.to_datetime(df['AppointmentDay'])

In [53]:
df[['ScheduledDay', 'AppointmentDay']].dtypes

ScheduledDay      datetime64[ns, UTC]
AppointmentDay    datetime64[ns, UTC]
dtype: object

### Create a new column for Waiting days

In [56]:
#Difference between appointment date and scheduled date

df['WaitingDays'] = (df['AppointmentDay'] - df['ScheduledDay']).dt.days

In [58]:
df['WaitingDays'].describe()

count    110527.000000
mean          9.183702
std          15.254996
min          -7.000000
25%          -1.000000
50%           3.000000
75%          14.000000
max         178.000000
Name: WaitingDays, dtype: float64

In [60]:
#Remove negative waiting days
df = df[df['WaitingDays'] >= 0]

In [62]:
df['WaitingDays'].min()

0

### Investigate 'Age' Column

In [65]:
#Checking age range
df['Age'].describe()

count    71959.000000
mean        38.502564
std         22.925421
min          0.000000
25%         19.000000
50%         39.000000
75%         57.000000
max        115.000000
Name: Age, dtype: float64

In [67]:
#Remove rows with invalid age
df = df[df['Age'] >= 0]         # Remove negative ages
df = df[df['Age'] <= 115]       # Remove unrealistically high ages

In [69]:
df['Age'].unique()

array([ 76,  23,  39,  19,  30,  29,  22,  28,  54,  15,  50,  40,   4,
        13,  46,  12,  38,  85,  55,  71,  78,  31,  58,  27,   8,   2,
         3,   0,  69,  62,  68,  64,  60,  21,  67,  49,  10,   1,  11,
        35,  51,  20,  26,  34,  56,  59,  18,  33,  16,  36,  42,  47,
        17,  41,   5,  45,  44,  37,  24,  32,   6,  66,  63,  75,  52,
        74,  53,  65,  57,  14,   9,  43,   7,  70,  72,  48,  87,  25,
        83,  77,  61,  88,  89,  79,  73,  80,  84,  82,  94,  86,  91,
        98,  81,  92,  90,  96,  93,  95,  97, 115, 100, 102], dtype=int64)

###  Clean column names

In [72]:
#Replace hyphens (-) and spaces with underscores (_)
df.columns = df.columns.str.lower().str.replace('-', '_').str.replace(' ', '_')

In [74]:
df.columns

Index(['patientid', 'appointmentid', 'gender', 'scheduledday',
       'appointmentday', 'age', 'neighbourhood', 'scholarship', 'hipertension',
       'diabetes', 'alcoholism', 'handcap', 'sms_received', 'no_show',
       'waitingdays'],
      dtype='object')